<main id="login-main">
  <%= render 'layouts/flash' %>

  <div class="login-main-div">

    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field login-main-div1">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, class: "login-main-input", 
          placeholder: "upisite username", maxlength: 255, size: 18 %>
      </div>

      <div class="field login-main-div1">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "login-main-input", 
          placeholder: "upisite email", maxlength: 255, size: 18 %>
      </div>

      <div class="field login-main-div1">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, class: "login-main-input", 
          placeholder: "upisite password", maxlength: 255, size: 18 %>
      </div>

      <div class="field login-main-div1">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: "login-main-input", 
          placeholder: "potvrdite password", maxlength: 255, size: 18 %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "login-main-button" %>
      </div>
    <% end %>

  </div>

</main>