<main id="manager1-main">
            <div id="knjige-polje1">
                <div class="knjige-div4">
                    <div id="bibID-4" class="knjige-button knjige-neaktivan">Filosofska biblioteka</div>
                    <div id="bibID-5" class="knjige-button knjige-neaktivan">Faustovska biblioteka</div>
                    <div id="bibID-6" class="knjige-button knjige-neaktivan">Filološka biblioteka</div>
                    <div id="bibID-7" class="knjige-button knjige-neaktivan">Sybyllinska biblioteka</div>
                    <div id="bibID-8" class="knjige-button knjige-neaktivan">Posebna izdanja</div>
                    <div id="bibID-0" class="knjige-button knjige-neaktivan">Sve biblioteke</div>
                </div>
            <%= form_with url: "/manager1", id:"knjige-forma", method: :get do |form| %>
                <div class="knjige-div3">
                  <div class="knjige-div1"><%= form.label :autor, "ID:" %></div>
                  <%= form.text_field :id, value: @id, class: "knjige-div2" %>
                </div>
                <div class="knjige-div3">
                  <div class="knjige-div1"><%= form.label :autor, "Autor:" %></div>
                  <%= form.text_field :autor, value: @autor, class: "knjige-div2" %>
                </div>
                <div class="knjige-div3">
                  <div class="knjige-div1"><%= form.label :naslov, "Naslov:" %></div>
                  <%= form.text_field :naslov, value: @naslov, class: "knjige-div2" %>
                </div>
                <div class="knjige-div3">
                  <div class="knjige-div1"><%= form.label :godina, "Godina:" %></div>
                  <%= form.number_field :godina, in: 1990..2022, step: 1, value: @godina, class: "knjige-div2" %>
                </div>
                <div class="knjige-div3">
                  <div class="knjige-div1"><%= form.label :isbn, "ISBN:" %></div>
                  <%= form.text_field :isbn, value: @isbn, class: "knjige-div2" %>
                </div>
                <%= form.hidden_field :bibliotekaID, value: @bibliotekaID, id: "knjige-hidden-field" %>
                <%= form.hidden_field :aktivnaStranica, value: @aktivnaStranica, id: "knjige-hidden-field1" %>
                <%= form.hidden_field :brojStranica, value: @brojStranica, id: "knjige-hidden-field2" %>
                <div id="knjige-div5">
                </div>
                <div class="knjige-div3 knjige-centriraj">
                  <%= form.submit "Search", id: "knjige-gumb" %>
                </div>
            <% end %>
            <p><%= @autor %>  </p>
            <p><%= @naslov %>  </p>
            <p><%= @brojKnjiga %>  </p>

            </div>
            <div id="knjige-polje2">
              <% @knjige.each do |knjiga| %>
                <% 
                priv = knjiga["biblioteka_id"]; 
                if !priv.nil?
                  @biblioteke.each do |bibl|
                    if bibl["biblioteka_id"] == knjiga["biblioteka_id"]
                      priv = bibl["biblioteka"]
                    end
                  end
                else
                  priv = ""
                end

                  

                    aut = ""
                    @autori1.each do |autor1|
                      if autor1["id"] == knjiga["id"]
                        aut += autor1["autor"] + "; ";
                      
                    end%>
                <% end %>

                
                <div id="manager1-el-<%= knjiga['id'] %>" class="manager1-el">
                    <div class="knjige-element">
                       <div class="element-el1">
                           <%= if !knjiga["slika"].nil? 
                            ('<img alt="slika knjige" class="element-el1-img" src="data:image/jpg;base64,%s">' % Base64.encode64(knjiga["slika"])).html_safe;
                            else
                                image_tag("nepoznata_knjiga.jpg", :class => "element-el1-img", :alt => "logo") 
                            end %>
                       </div>
                       <div class="element-el2">
                           <p class="element-el2-naslov"><%= knjiga["naslov"] %></p>
                           <p class="element-el2-autor"><%= output(aut) %></p>
                           <p class="element-el2-cijena"><%= outputCijena(knjiga["cijena"]) %></p>
                       </div>
                    </div>
                </div>    
                
              <% end %>
            </div>
            <div id="knjige-polje3">
                <div class="pagination">
                    <!--<ul class="pagination">
                        <li class="prev previous_page disabled"><p class="knjige-pagination-velikiekran">1prethodna</p><p class="knjige-pagination-maliekran"><<</p></li>
                        <li class="active">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                        <li>11</li>
                        <li>12</li>
                        <li>13</li>
                        <li>14</li>
                        <li>15</li>
                        <li class="next next_page"><p class="knjige-pagination-velikiekran">sljedeca</p><p class="knjige-pagination-maliekran">>></p></li>
                    </ul>-->
                </div>
            </div>
            <%= form_with url: "/modificiraj_knjigu", id: "manager1-hidden", method: :post do |form| %>
              <input type="hidden" id="manager1-hidden1" name="id" value="">
            <% end %>  
        </main>