<main id="opisknjige-main">
<div id="confirmation">
            <div id="confirmation-el">
                <div id="confirmation-el1">
					<p></p>
				</div>
				<div id="confirmation-el2">
					<div id="confirmation-gumb1">
						Otkaži
					</div>
					<div id="confirmation-gumb2">
						OK
					</div>
				</div>
	        </div>
</div>
<% flash.each do |message_type, message| %>
    
    <div class="alert alert-<%= message_type %>">
        <p><%= message %></p>
        <div class="alert-close">
            <div class="alert-close-el1">
                <div class="alert-close-el2"></div>
                <div class="alert-close-el3"></div>
            </div>
        </div>
    </div>
    
<% end %> 
            <div id="opisknjige-stupac1">
                
            <%= if !@slika.nil? 
                ('<img id="opisknjige-img", alt="slika knjige", src="data:image/jpg;base64,%s">' % Base64.encode64(@slika)).html_safe;
                else
                    image_tag("/assets/nepoznata_knjiga.jpg", :id => "opisknjige-img", :alt => "logo") 
            end %>




            </div>
            <div id="opisknjige-stupac2">
                <!--<form id="modificirajknjigu-forma" action="/modificiraj_knjigu" accept-charset="UTF-8" method="get">-->
                <%= form_with url: "/modificiraj_knjigu", id: "modificirajknjigu-forma" do |form| %>
                <input name="id" type="hidden" value="<%= @idKnjige %>"/>


                    <% if @menuSw %>
                    <div id="modificirajknjigu-menu" style="display:flex;">
                    <% else %>
                    <div id="modificirajknjigu-menu" style="display:none;">
                    <% end %>
                    
                    <div id="modificirajknjigu-menu-el">
                        <div id="modificirajknjigu-menu-el1">

                            <div id="modificirajknjigu-menu-el4">
                              <div id="modificirajknjigu-menu-el4-el1">
					            <select id="modificirajknjigu-selekt2" name="idAdrese">
                                    <% @kolicine.each do |kolicina| %>
                                        <option value="<%= kolicina['id'] %>"><%= kolicina["skladiste"] + " - " + kolicina["adresa"] + " - " + kolicina["kolicina"].to_s %></option>
                                    <% end %>
                                </select>
                                <div style="height:100%;width:10px;"></div>
                                <input type="text" id="kolicina-input" name="kolicina" value="" placeholder="quantity">
                              </div>  
                              <div id="modificirajknjigu-menu-el4-el2">
                                <div id="modificirajknjigu-menu-gumb3" class="manager2-gumb"><p>New Quantity</p></div>
                                <div style="height:100%;width:10px;"></div>
                                <div id="modificirajknjigu-menu-gumb5" class="manager2-gumb"><p>Erase Address</p></div>
                              </div>
                            </div>

                            <div id="modificirajknjigu-menu-el5">
                              <div id="modificirajknjigu-menu-el5-el1">
                                <select id="modificirajknjigu-selekt3" class="modificirajknjigu-forma2" name="skladiste" size="5">
                            
                                    <% @skladista.each do |skladiste| %>
                                        <% if @odabrani1 == skladiste.skladiste %>
                                            <% stri = '<option value="' + skladiste.skladiste + '" selected>' + skladiste.skladiste + '</option>' %>
                                            <%= (stri).html_safe %>
                                        <% else %>
                                            <% stri = '<option value="' + skladiste.skladiste + '">' + skladiste.skladiste + '</option>' %>
                                            <%= (stri).html_safe %>
                                        <% end%>
                                    <% end %>
                                </select>
                                <div style="height:100%;width:10px;"></div>
                                <select class="modificirajknjigu-forma2" name="adresa" size="5">
                                    <% @adrese.each do |adr| %>
                                        <% if @odabrani2 == adr["adresa"] %>
                                            <% stri = '<option value="' + adr["adresa"] + '" selected>' + adr["adresa"] + '</option>' %>
                                            <%= (stri).html_safe %>
                                        <% else %>
                                            <% stri = '<option value="' + adr["adresa"] + '">' + adr["adresa"] + '</option>' %>
                                            <%= (stri).html_safe %>
                                        <% end%>
                                    <% end %>                 
                                </select>
                              </div>
                              <div id="modificirajknjigu-menu-el5-el2">
                                <input type="text" id="kolicina-input1" placeholder="quantity" name="kolicina1" value="">  
                                <div style="height:100%;width:10px;"></div>
                                <div id="modificirajknjigu-menu-gumb4" class="manager2-gumb"><p>Add New Address</p></div>
                              </div>
                            </div>

                            <div id="modificirajknjigu-menu-el3">
                                <div id="modificirajknjigu-menu-krizic" class="alert-close-el1">
                                    <div class="alert-close-el2"></div>
                                    <div class="alert-close-el3"></div>
                                </div>
                            </div>

				        </div>
	                </div>
                    </div>

        
                <table id="opisknjige1-tablica">
                    <tr class="opisknjige-neparnired">
                        <td class="opisknjige-elementi2">Title:</td>
                        <td id="naslov-polje" class="opisknjige-elementi1"><%= output1(@naslov) %></td>
                        <td class="opisknjige-elementi1" style="display:none"><input type="text" id="naslov-input" name="naslov" value="<%= output1(@naslov) %>"></td>
                    </tr>
                    <tr id="modificiraj-knjigu-autor">
                        <td class="opisknjige-elementi2">Author:</td>
                        <td id="autor-polje" class="opisknjige-elementi1"><%= @pocetniIspisAutora %></td>
                        <!--<td class="opisknjige-elementi1" style="display:none"><input type="text" id="autor-input" name="autor" value="nekakav autor"></td>-->
                        <td class="opisknjige-elementi1" style="display:none">
                            <select id="modificirajknjigu-selekt1" class="manager2-forma1-el1" name="autori[]" size="5" multiple>
                                <option value="">bez odabira</option>
                                <% @sviautori.each do |aut| %>
                                    <% if isAuthorInsideArray(@autoriKnjige, aut.autor) %>
                                        <% stri = '<option value="' + aut.autor + '" selected>' + aut.autor + '</option>' %>
                                        <%= (stri).html_safe %>
                                    <% else %>
                                        <% stri = '<option value="' + aut.autor + '">' + aut.autor + '</option>' %>
                                        <%= (stri).html_safe %>
                                    <% end%>
                                <% end %>  
                            </select>   
                            <div id="opisknjige-div1">
                                <!--<form id="modificirajknjigu-forma1" action="/modificiraj_knjigu" accept-charset="UTF-8" method="get">-->
                                    <input type="text" id="modificirajAutora-input" name="modificirajAutora" value="">
                                    <input type="hidden" id="modificirajAutora-hidden" name="akcija" value="">
                                <!--</form>-->
                                <div id="modificirajAutora-div">
                                    <div id="modificirajAutora-gumb" class="modificirajAutora-gumb"><p>New Author</p></div>
                                    <div style="height:100%;width:10px;"></div>
                                    <div id="modificirajAutora-gumb1" class="modificirajAutora-gumb"><p>Erase Author</p></div>
                                </div>
                            </div>                      
                        </td>
                    </tr>
                    <tr class="opisknjige-neparnired">
                        <td class="opisknjige-elementi2">Price:</td>
                        <td id="cijena-polje" class="opisknjige-elementi1"><%= output1(@cijena) %></td>
                        <td class="opisknjige-elementi1" style="display:none"><input type="text" id="cijena-input" name="cijena" value="<%= output1(@cijena) %>"></td>
                    </tr>
                    <tr>
                        <td class="opisknjige-elementi2">Biblioteka:</td>
                        <td id="biblioteka-polje" class="opisknjige-elementi1"><%= output1(@biblioteka) %></td>
                        <td class="opisknjige-elementi1" style="display:none">

                            <select id="modificirajknjigu-selekt" class="manager2-forma1-el1" name="biblioteka" size="5">
                                <% if @biblioteka == "" %>
                                    <option value="" selected>bez odabira</option> 
                                <% else %>
                                    <option value="">bez odabira</option> 
                                <% end %>

                                <% @biblioteke.each do |bibl| %>
                                    <% if @biblioteka == bibl.biblioteka %>
                                        <% stri = '<option value="' + bibl.biblioteka + '" selected>' + bibl.biblioteka + '</option>' %>
                                        <%= (stri).html_safe %>
                                    <% else %>
                                        <% stri = '<option value="' + bibl.biblioteka + '">' + bibl.biblioteka + '</option>' %>
                                        <%= (stri).html_safe %>
                                    <% end%>
                                <% end %>  
                            </select>                      
                        </td>
                    </tr>
                    <tr class="opisknjige-neparnired">
                        <td class="opisknjige-elementi2">Publish year:</td>
                        <td id="godina-polje" class="opisknjige-elementi1"><%= output1(@godina) %></td>
                        <!--<td class="opisknjige-elementi1" style="display:none"><input type="text" id="godina-input" name="godina" value="<%= output1(@godina) %>"></td>-->
                        <td class="opisknjige-elementi1" style="display:none"><input type="number" id="godina-input" name="godina" min="1990" max="2022" value="<%= output1(@godina) %>"></td>
                    </tr>
                    <tr>
                        <td class="opisknjige-elementi2">Num. of pages:</td>
                        <td id="stranica-polje" class="opisknjige-elementi1"><%= output1(@brojStranica) %></td>
                        <td class="opisknjige-elementi1" style="display:none"><input type="text" id="stranica-input" name="brojStranica" value="<%= output1(@brojStranica) %>"></td>
                    </tr>
                    <tr class="opisknjige-neparnired">
                        <td class="opisknjige-elementi2">ISBN:</td>
                        <td id="isbn-polje" class="opisknjige-elementi1"><%= output1(@isbn) %></td>
                        <td class="opisknjige-elementi1" style="display:none"><input type="text" id="isbn-input" name="isbn" value="<%= output1(@isbn) %>"></td>                        
                    </tr>
                    <tr>
                        <td class="opisknjige-elementi2">Image:</td>
                        <td id="file-polje" class="opisknjige-elementi1">Click here to change image</td>
                        <td id="file-polje1" class="opisknjige-elementi1" style="display:none">
                            <div id="modificirajAutora-gumb2" ><p>No Pic</p></div>
                            <%= form.file_field :image, accept: 'image/jpeg', id: "file-input" %>
                            <input id="file-slikaAkcija" name="slikaAkcija" type="hidden" value=""/>
                        </td>
                    </tr>
                    <tr class="opisknjige-neparnired">
                        <td class="opisknjige-elementi2">Quantity:</td>
                        <td class="opisknjige-elementi1">
                            <% suma = 0;
                               @kolicine.each do |kolicina| 
                                   suma += kolicina["kolicina"]
                               end 
                            %>
                            <p style="display:inline; font-size: 14px; margin-right: 5px;"><%= suma %></p>
                            <select id="modificirajknjigu-selekt4">
                                <% @kolicine.each do |kolicina| %>
                                    <option value="volvo"><%= kolicina["skladiste"] + " - " + kolicina["adresa"] + " - " + kolicina["kolicina"].to_s %></option>
                                <% end %>
                            </select>   
                           
                        </td>
                        <td class="opisknjige-elementi1" style="display:none">
                            <div style="height:100%; width:100%; display:flex; justify-content:center; align-items:center;">
                                <div id="modificirajknjigu-gumb" class="manager2-gumb"><p>Modify</p></div>
                            </div>
                        </td>
                    </tr>

                </table>

                <% end %>
                <!--</form>-->
                <div id="manager2-gumb-cont">
                    <div id="opisknjige-gumb" class="manager2-gumb"><p>Modify</p></div>
                    <div style="width:40px; height:100%;"></div>
                    <div id="opisknjige-gumb2" class="manager2-gumb"><p>Erase</p></div>
                </div>
                <!--<img id="opisknjige-img1" src="./grafika/slika_demetre8bit_mala.png" alt="slika Demetre">-->
                <%= image_tag("slika_demetre8bit_mala.png", id: "opisknjige-img1", alt: "slika Demetre") %>
                <div id="opisknjige-div-link">
                    <a href="/manager1" class="link-header">Natrag na glavnu stranicu</a>
                </div>
                
            </div>
        </main>