<main id="manager1-main">
<div id="manager1-flash-cont">
<% flash.each do |message_type, message| %>
    
  <div class="alert alert-<%= message_type %>">
      <p><%= message %></p>
      <div class="alert-close">
          <div class="alert-close-el1">
              <div class="alert-close-el2"></div>
              <div class="alert-close-el3"></div>
          </div>
      </div>
  </div>
  
<% end %>
</div>
            <div id="knjige-polje1">
                <div class="knjige-div4">
                    <div id="bibID-4" class="knjige-button knjige-neaktivan">Filosofska biblioteka</div>
                    <div id="bibID-5" class="knjige-button knjige-neaktivan">Faustovska biblioteka</div>
                    <div id="bibID-6" class="knjige-button knjige-neaktivan">Filološka biblioteka</div>
                    <div id="bibID-7" class="knjige-button knjige-neaktivan">Sybyllinska biblioteka</div>
                    <div id="bibID-8" class="knjige-button knjige-neaktivan">Posebna izdanja</div>
                    <div id="bibID-0" class="knjige-button knjige-neaktivan">Sve biblioteke</div>
                </div>
            <%= form_with url: "/manager1", id:"knjige-forma", method: :get do |form| %>
                <div class="knjige-div3">
                  <div class="knjige-div1"><%= form.label :autor, "ID:" %></div>
                  <%= form.text_field :id, value: @id, class: "knjige-div2" %>
                </div>
                <div class="knjige-div3">
                  <div class="knjige-div1"><%= form.label :autor, "Author:" %></div>
                  <%= form.text_field :autor, value: @autor, class: "knjige-div2" %>
                </div>
                <div class="knjige-div3">
                  <div class="knjige-div1"><%= form.label :naslov, "Title:" %></div>
                  <%= form.text_field :naslov, value: @naslov, class: "knjige-div2" %>
                </div>
                <div class="knjige-div3">
                  <div class="knjige-div1"><%= form.label :godina, "Year:" %></div>
                  <%= form.number_field :godina, in: 1990..2022, step: 1, value: @godina, class: "knjige-div2" %>
                </div>
                <div class="knjige-div3">
                  <div class="knjige-div1"><%= form.label :isbn, "ISBN:" %></div>
                  <%= form.text_field :isbn, value: @isbn, class: "knjige-div2" %>
                </div>
                <%= form.hidden_field :bibliotekaID, value: @bibliotekaID, id: "knjige-hidden-field" %>
                <%= form.hidden_field :aktivnaStranica, value: @aktivnaStranica, id: "knjige-hidden-field1" %>
                <%= form.hidden_field :brojStranica, value: @brojStranica, id: "knjige-hidden-field2" %>
                <div id="knjige-div5">
                    <div id="knjige-div6">
                        <select id="manager1-selekt" class="manager2-forma1-el1" name="skladiste" size="6">
                            <% if @odabrani1 == 0 %>
                                <option value="" selected>bez odabira</option> 
                            <% else %>
                                <option value="">bez odabira</option> 
                            <% end %>
                
                            <% @skladista.each do |skladiste| %>
                                <% if @odabrani1 == skladiste.skladiste %>
                                    <% stri = '<option value="' + skladiste.skladiste + '" selected>' + skladiste.skladiste + '</option>' %>
                                    <%= (stri).html_safe %>
                                <% else %>
                                    <% stri = '<option value="' + skladiste.skladiste + '">' + skladiste.skladiste + '</option>' %>
                                    <%= (stri).html_safe %>
                                <% end%>
                            <% end %>

                        </select>
                        <!--<div id="manager2-gumb1" class="manager1-gumb"><p>odaberi</p></div>-->
                    </div>
                    <div id="knjige-div7">
                        <select class="manager2-forma1-el1" name="adresa" size="6">
                            <% if @odabrani2 == 0 %>
                                <option value="" selected>sve adrese</option> 
                            <% else %>
                                <option value="">sve adrese</option> 
                            <% end %>
        
                            <% @adrese.each do |adr| %>
                              <% if @odabrani2 == adr["adresa"] %>
                                  <% stri = '<option value="' + adr["adresa"] + '" selected>' + adr["adresa"] + '</option>' %>
                                  <%= (stri).html_safe %>
                              <% else %>
                                  <% stri = '<option value="' + adr["adresa"] + '">' + adr["adresa"] + '</option>' %>
                                  <%= (stri).html_safe %>
                              <% end%>
                            <% end %>

                        </select>
                        <!--<div id="manager2-gumb1" class="manager1-gumb"><p>odaberi</p></div>-->
                    </div>








                </div>
                <div class="knjige-div3 knjige-centriraj">
                  <%= form.submit "Search", id: "knjige-gumb" %>
                  <!--<a id="knjige-gumb1-link" href="/nova_knjiga"><div id="knjige-gumb1">Nova knjiga</div></a>-->
                  <div id="knjige-gumb1">New book</div>
                </div>
            <% end %>
            
            <!--<p><%= @autor %>  </p>
            <p><%= @naslov %>  </p>
            <p><%= @brojKnjiga %>  </p>
            <p>Adrese: <%= @adrese %></p>
            <p>StrQuery: <%= @quer %></p>-->

            </div>
            <div id="knjige-polje2">
              <% @knjige.each do |knjiga| %>
                <% 
                priv = knjiga["biblioteka_id"]; 
                if !priv.nil?
                  @biblioteke.each do |bibl|
                    if bibl["biblioteka_id"] == knjiga["biblioteka_id"]
                      priv = bibl["biblioteka"]
                    end
                  end
                else
                  priv = ""
                end

                  

                    aut = ""
                    @autori1.each do |autor1|
                      if autor1["id"] == knjiga["id"]
                        aut += autor1["autor"] + "; ";
                      
                    end%>
                <% end %>

                
                <div id="manager1-el-<%= knjiga['id'] %>" class="manager1-el">
                    <div class="knjige-element">
                       <div class="element-el1">
                           <%= if !knjiga["slika"].nil? 
                            ('<img alt="slika knjige" class="element-el1-img" src="data:image/jpg;base64,%s">' % Base64.encode64(knjiga["slika"])).html_safe;
                            else
                                image_tag("nepoznata_knjiga.jpg", :class => "element-el1-img", :alt => "logo") 
                            end %>
                       </div>
                       <div class="element-el2">
                           <p class="element-el2-naslov"><%= knjiga["naslov"] %></p>
                           <p class="element-el2-autor"><%= output(aut) %></p>
                           <p class="element-el2-cijena"><%= outputCijena(knjiga["cijena"]) %></p>
                       </div>
                    </div>
                </div>    
                
              <% end %>
            </div>
            <div id="knjige-polje3">
                <div class="pagination">
                    <!--<ul class="pagination">
                        <li class="prev previous_page disabled"><p class="knjige-pagination-velikiekran">1prethodna</p><p class="knjige-pagination-maliekran"><<</p></li>
                        <li class="active">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                        <li>11</li>
                        <li>12</li>
                        <li>13</li>
                        <li>14</li>
                        <li>15</li>
                        <li class="next next_page"><p class="knjige-pagination-velikiekran">sljedeca</p><p class="knjige-pagination-maliekran">>></p></li>
                    </ul>-->
                </div>
            </div>
            <%= form_with url: "/modificiraj_knjigu", id: "manager1-hidden", method: :post do |form| %>
              <input type="hidden" id="manager1-hidden1" name="id" value="">
              <!--<input type="hidden" name="akcija" value="nova knjiga">-->
            <% end %>
            <%= form_with url: "/nova_knjiga", id: "manager1-hidden2", method: :post do |form| %>
              <!--<input type="hidden" id="manager1-hidden1" name="id" value="">-->
              <input type="hidden" name="akcija" value="nova">
            <% end %>    
        </main>