<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Demetra</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="tijelo">
      <header>
        <div id="header">
          <%= image_tag("slika_demetre8bit_mala1.png", id: "el1-header", alt: "slika Demetre") %>
          <%= image_tag("element2.png", id: "el2-header", alt: "logo") %>
          <%= image_tag("slika_demetre8bit_mala1.png", id: "el3-header", alt: "slika Demetre") %>
          <div id="izbornik-header">
            <a href="/knjige" class="link-header">Knjige</a>
            <a href="/" class="link-header">Izdvajamo</a>
            <a href="/onama" class="link-header">O nama</a>
            <a href="/kontakt" class="link-header">Kontakt</a>
          </div>
          <div id="gumb-header">
            <div class="gumb-el"></div>
            <div class="gumb-el"></div>
            <div class="gumb-el"></div>
          </div>
        </div>
        <div id="collapsing-menu-header">
          <a href="/knjige" class="collapsing-link"><p>Knjige</p></a>
          <a href="/" class="collapsing-link"><p>Izdvajamo</p></a>
          <a href="/onama" class="collapsing-link"><p>O nama</p></a>
          <a href="/kontakt" class="collapsing-link"><p>Kontakt</p></a>
        </div>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
